* {
    margin: 0;
    padding: 0;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #454140;
    color: white;
    text-align: center;
}

.huvudmeny{
    overflow: hidden;
    background-color:orange;
    color:white;
    padding: 10px;
}

.huvudmeny a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 24px;
    text-decoration: none;
    font-size: 40px;
    font-family:Verdana;
}

.huvudmeny a:hover{
    background-color:darkorange;
    color:black;
}


.shoppingcart{
    width:50px;
    height:50px;
    position:absolute;
    right:30px;
    margin-top:5px;
}

h1{
    text-align:center;
    font-size:40px;
    font-family:Verdana;
    margin-top: 25px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}


.item {
    flex: 0 32%;
    height: 180px;
    background-color:orange;
    border-radius: 8px;
    box-shadow: 2px 3px #d1d1d1;
    
}

.BTCimg{
    padding:5px;
    margin-left:20px;
    vertical-align: middle; 
}

.ETHimg{
    padding:5px;
    margin-left:10px;
    vertical-align: middle; 
}

.DOGEimg{
    padding:5px;
    margin-left:10px;
    vertical-align: middle; 
}



#BTCtext{
    font-size:20px;
    font-family: monospace;
}

#ETHtext{
    font-size:20px;
    font-family: monospace;
}

#DOGEtext{
    font-size:20px;
    font-family: monospace;
}