/* Importerar fonts från google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Open+Sans:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    background-color:#ff8c00;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #454140;
    color: white;
    text-align: center;
}

.huvudmeny{
    overflow: hidden;
    background-color:#454140;
    color:white;
    padding: 10px;
}

.huvudmeny a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 24px;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Nunito', sans-serif;
}

.huvudmeny a:hover{
    background-color:black;
}


.shoppingcart{
    width:50px;
    height:50px;
    position:absolute;
    right:30px;
    margin-top:5px;
}

h1{
    text-align:center;
    font-size:46px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

h2{
    text-align:center;
    font-size:28px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

h3{
    text-align:center;
    font-size:24px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 25px;
}

/* Container, tagit pattern från hemsidan på classroom. Har justify-content: 
space-between så jag får ett mellanrum emellan produkterna 
Har också 10px padding och margin-top 20px för att kunna placera produkterna på ett bra sätt*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px;
}

/* item med flex 0 32% så det skapas 3 "boxar" med samma storlek
180px height, bgcolor vit och en border radius 8px.
*/
.item {
    flex: 0 32%;
    height: 180px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 3px #d1d1d1;
    
}

/* Class till bilderna som används till produkterna.
Använder vertical-align: middle för att kunna aligna texten på rätt sätt
*/
.produktimg{
    padding:5px;
    margin-left:20px;
    vertical-align: middle; 
}

/* Använd id istället för class här så jag enkelt kan skilja på dem i produktdelen */
#produkttext{
    font-size:20px;
    font-family: monospace;
}